<?xml version="1.0"?>
<Settings>
    <AttendeeCount>1</AttendeeCount>
    <CSVExportPath>C:\Users\jgarcia\Documents\workshopDetails.csv</CSVExportPath>
    <API>
        <BaseURL>https://cyberark.joegarcia.dev</BaseURL>
        <AuthType>CyberArk</AuthType>
    </API>
    <ActiveDirectory>
        <Domain>joegarcia.dev</Domain>
        <UsersPath>CN=Users,DC=joegarcia,DC=dev</UsersPath>
        <GroupsPath>OU=Security Groups,OU=Groups,DC=joegarcia,DC=dev</GroupsPath>
    </ActiveDirectory>
    <CyberArk>
        <PlatformID>WinDomain</PlatformID>
    </CyberArk>
</Settings>