<?xml version="1.0"?>
<Settings>
    <AttendeeCount>1</AttendeeCount>
    <CSVExportPath>C:\Users\jgarcia\Documents\workshopDetails.csv</CSVExportPath>
    <API>
        <BaseURL>https://cyberark.joegarcia.dev</BaseURL>
        <AuthType>LDAP</AuthType>
    </API>
    <ActiveDirectory>
        <Domain>joegarcia.dev</Domain>
        <UsersPath>CN=Users,DC=joegarcia,DC=dev</UsersPath>
        <CyberArkUsers>P-CyberArk_Vault_Users</CyberArkUsers>
    </ActiveDirectory>
    <CyberArk>
        <ManagingCPM>PasswordManager</ManagingCPM>
        <PlatformID>WinDomain</PlatformID>
    </CyberArk>
</Settings>